@{
    ViewData["Title"] = "Home Page";
}
<h1>Mars Rover</h1>

<p>Please <a asp-controller="Plateau" asp-action="Create">Create a Plateau</a> or 
    <a asp-controller="Plateau" asp-action="Index">View all Plateaus</a>.</p>
